@{
    ViewData["Title"] = "ZynKe Home Page";
}

<link rel="stylesheet" href="~/css/HomePage.css">

<div class="HomePage">
    <aside>
        <h1>
            SOBRE NÓS
        </h1>

        <figure>
            <img src="" alt="Foto Pedro Henrique">
            <figcaption>Pedro Henrique</figcaption>
        </figure>
        <h2>
            ZynKe Front-End Dev
        </h2>
        <h3>
            Pedro Henrique da Silva Barbosa já realizou &lt;ai tu escreve mais kakaka&gt;
        </h3>

        <figure>
            <img src="" alt="Foto Lorenzo Zimbres">
            <figcaption>Lorenzo Zimbres</figcaption>
        </figure>
        <h2>ZynKe Back-End Dev</h2>
        <h3>Lorenzo Oliveira Zimbres, 17 anos, estuda programação há 8 meses, e se identificou com o server side de desenvolvimento.</h3>
    </aside>
    <article>
        BLABLABLA
    </article>
</div>